<!DOCTYPE html>
<html lang="en">
<head>
    <base target="_top">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HES Visualisation</title>

    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="heatmap.min.js"></script>
    <script src="leaflet-heatmap.js"></script>
    <script src="msgpack.min.js"></script>

    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        .leaflet-container {
            height: 400px;
            width: 600px;
            max-width: 100%;
            max-height: 100%;
        }

        .slider {
            -webkit-appearance: none; /* Override default CSS styles */
            appearance: none;
            width: 100%; /* Full-width */
            height: 25px; /* Specified height */
            background: #d3d3d3; /* Grey background */
            outline: none; /* Remove outline */
            opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
            -webkit-transition: .2s; /* 0.2 seconds transition on hover */
            transition: opacity .2s;
        }

        .timecontrols {
            position: fixed;
            width: 50%;
            bottom: 0;
            left: 0;
            z-index: 1000;
        }

    </style>


</head>
<body>



    <div id="map" style="width: 100%; height: 100%;"></div>
    <div class="timecontrols">
        <div id="controls">
            <button id="decrease_button" onclick="decreaseMonth()"><</button><span id="month_text"></span><button id="increase_button" onclick="increaseMonth()">></button>
        </div>
        <div class="slidecontainer">
            <input type="range" min="0" max="84" value="0" class="slider" id="myRange">
        </div>
    </div>
    <script>

        var wHeight = window.screen.height;
        var wWidth = window.screen.width;
        var geoStyle = "HAMLA";

        var slider = document.getElementById("myRange");
        var output = document.getElementById("month_text");
        slider.value = 0;
        //output.innerHTML = slider.value; // Display the default slider value

        const months = [];
        for (let i = 0; i < 85; i++) {
            months[i] = new Date(1967, i)
        }

        var intMonth = 0

        function getMonthYear(d, slash) {
            let year = d.getFullYear();
            let month = d.getMonth();
            let monthStr = (month + 1).toString();
            let dString;
            if (monthStr.length < 2) { monthStr = "0" + monthStr; }
            if (slash == true) {
                dString = monthStr + "/" + year.toString();
            } else {
                dString = monthStr + year.toString();
            }
            return dString;
        }

        const map = L.map('map').setView([13, 106], 7);

        const tiles = L.tileLayer("https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}",
            { "attribution": "Tiles \u0026copy; Esri \u0026mdash; Esri, DeLorme, NAVTEQ, TomTom, Intermap, iPC, USGS, FAO, NPS, NRCAN, GeoBase, Kadaster NL, Ordnance Survey, Esri Japan, METI, Esri China (Hong Kong), and the GIS User Community", "detectRetina": false, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false }
        ).addTo(map);

        let geojsonMarkerOptions = {
            radius: 10,
            fillColor: "#ffffff",
            color: "#000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.6
        };

        let hamletGeojsonFeature = {{ hamlets| safe }}
        let thorGeojsonFeature;

        let hamletLayer = L.geoJSON(hamletGeojsonFeature, {
            pointToLayer: function (feature, latlng) {
                return L.circleMarker(latlng, geojsonMarkerOptions);
            },
            style: function (feature) {
                var pop = feature.properties.POPUL;
                var size = pop / 2000 + 3;
                let color;
                switch (feature.properties.SCSTA) {
                    case 'SE': color = "#00ff00"; break;
                    case 'SS': color = "#ffff00"; break;
                    case 'CO': color = "#ff8800"; break;
                    case 'VC': color = "#ff0000"; break;
                    default: color = "#ffffff";
                }
                return { radius: size, fillColor: color };

            },
            onEachFeature: function (feature, layer) {
                if (months[intMonth] < new Date(1969, 5)) {
                    layer.bindPopup(`<p>${feature.properties["Hamlet Name"]}</p><p>Population: ${feature.properties.POPUL}</p><p>Security Status: ${feature.properties.SCSTA}</p><p>USID: <a href="/usid/${feature.properties.USID}" target="_blank">${feature.properties.USID}</a></p>`);
                } else {
                    layer.bindPopup(`<p>${feature.properties["Hamlet Name"]}</p><p>Population: ${feature.properties.HPOPUL}</p><p>Pacification Model Status: ${feature.properties.HCAT}</p><p>USID: <a href="/usid/${feature.properties.USID}" target="_blank">${feature.properties.USID}</a></p>`);
                }
            }
        }).addTo(map);
        //myLayer.addData();
        document.getElementById("month_text").innerHTML = getMonthYear(months[intMonth], true);

        let cfg = {
            "radius": 0.05,
            "maxOpacity": .8,
            // scales the radius based on map zoom
            "scaleRadius": true,
            // if set to false the heatmap uses the global maximum for colorization
            // if activated: uses the data maximum within the current map boundaries
            //   (there will always be a red spot with useLocalExtremas true)
            "useLocalExtrema": true,
            // which field name in your data represents the latitude - default "lat"
            latField: 'lat',
            // which field name in your data represents the longitude - default "lng"
            lngField: 'lon',
            // which field name in your data represents the data value - default "value"
            valueField: 'wgt'
        };

        let heatmapLayer = new HeatmapOverlay(cfg);

        fetch(`/get_thor/011967`)
            .then(response => response.bytes())
            .then(data => {
                thorGeojsonFeature = msgpack.deserialize(data);
                heatmapLayer.addTo(map);
                heatmapLayer.setData(msgpack.deserialize(data));
            }
        );
        var basemaps = {
            "esri Topo": tiles
        };

        var overlays = {
            "Hamlets": hamletLayer,
            "THOR": heatmapLayer
        };

        L.control.layers(basemaps, overlays).addTo(map);

        function updateMap(d) {
            let dateStr = getMonthYear(d, false);
            fetch(`/get_geojson/${dateStr}`)
                .then(response => response.json())
                .then(data => {
                    hamletLayer.clearLayers();
                    hamletLayer.addData(data);
                    if (d > new Date(1969, 5)) {
                        hamletLayer.setStyle(
                            function (feature) {
                                var pop = feature.properties.HPOPUL;
                                var size = pop / 2000 + 3;
                                let color;
                                switch (feature.properties.HCAT) {
                                    case 'A': color = "#00ff00"; break;
                                    case 'B': color = "#88ff00"; break;
                                    case 'C': color = "#ffff00"; break;
                                    case 'D': color = "#ffdd00"; break;
                                    case 'E': color = "#ffbb00"; break;
                                    case 'N': color = "#ff8800"; break;
                                    case 'V': color = "#ff0000"; break;
                                    default: color = "#ffffff";
                                }
                                return { radius: size, fillColor: color };
                            }
                        );
                    }
                }
            );
            fetch(`/get_thor/${dateStr}`)
                .then(response => response.bytes())
                .then(data => {
                    heatmapLayer.setData(msgpack.deserialize(data));
                }
                );
        }

        slider.oninput = function () {
            intMonth = this.value;
            let month = getMonthYear(months[intMonth], true);
            output.innerHTML = month;
        }

        slider.onmouseup = function () { updateMap(months[intMonth]) };

        function increaseMonth() {
            if (intMonth < months.length) {
                intMonth++;
                document.getElementById("month_text").innerHTML = getMonthYear(months[intMonth], true);
                updateMap(months[intMonth]);
            }
        }

        function decreaseMonth() {
            if (intMonth > 0) {
                intMonth--;
                document.getElementById("month_text").innerHTML = getMonthYear(months[intMonth], true);
                updateMap(months[intMonth]);
            }
        }

    </script>

</body>
</html>